.months{
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
    }
    .month-card{
        width: 48%;
        img{
            width: 25rem;
            // aspect-ratio: 16 / 9;
            height: 30rem;
            border: hotpink solid 2px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            box-shadow:
            0 0 25px rgba(255, 105, 180,.8),
            0 22px 40px rgba(0, 0, 0, 0.6);
            background: rgba(255, 255, 255, 0.09);
            border-color: rgba(255, 105, 180, 0.9);
        }
        h3{
            text-align: center;
            margin-top: 1rem;
            color: white;
            font-family: Romantic;
        }
        p{
            text-align: center;
            margin-top: 1rem;
            color: white;
            line-height: 2rem;
            
        }
    }
}