.Recap{
    border-bottom: 2px solid white;
    background-color: #1d1d1dff;
    // margin-top: 2rem;
    padding: 20px;
    h2{
        text-align: center;
        color: white;
        padding: 30px;
        font-family: Romantic;
        font-size: 3rem;
    }
}