.Video{
    border-bottom: 2px solid hotpink;
    padding: 100px;
    h2{
        text-align: center;
        color: white;
        // padding: 20px;
        margin-top: 2rem;
        font-family: Romantic;
        font-size: 3rem;
    }
    iframe{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50rem;
        height: 30rem;
        border-radius: .75rem;
        border: hotpink 2px solid;
    }
}