.Video{
    border-bottom: 2px solid white;
    h2{
        text-align: center;
        color: white;
        padding: 20px;
        margin-top: 2rem;
        font-family: Romantic;
        font-size: 3rem;
    }
}