@import "../themes/defaultTheme";
@import "../util/variables";
@import "../util/mixins";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  
}

@font-face {
  font-family: Romantic;
  src: url('../Fonts/ROMANTICE.otf');
}
@font-face {
  font-family: song;
  src: url('../Fonts/Romantic Song.ttf');
}
.music-btn {
  background: #ff66cc;
  border: none;
  color: white;
  padding: 12px 18px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 0 10px #ff66cc;
  transition: 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
}

.music-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff99dd;
}
